/*Контейнеры для элементов*/

.notifications-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 600px;
    overflow-y: auto;
    padding-right: 8px;
}

.judje-case-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 600px;
    overflow-y: auto;
    padding-right: 8px;
}

/*Скролл*/

.notifications-list::-webkit-scrollbar {
    width: 8px;
}
.notifications-list::-webkit-scrollbar-thumb {
    background-color: #E99949;
    border-radius: 4px;
}
.notifications-list::-webkit-scrollbar-track {
    background-color: #F9F5EC;
    border-radius: 4px;
}

.judje-case-list::-webkit-scrollbar {
    width: 8px;
}
.judje-case-list::-webkit-scrollbar-thumb {
    background-color: #E99949;
    border-radius: 4px;
}
.judje-case-list::-webkit-scrollbar-track {
    background-color: #F9F5EC;
    border-radius: 4px;
}