<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../applicant/test.css">
</head>
<body>
    <div class="cardCase">
        <div class="statusBackground">
            <h2 class="number">Судебное дело № ${number}</h2>
            <p class="status">${status}</p>
            <p class="statusColor">${statusColor}</p>
        </div>

        <p class="type">Тип: ${type}</p>
        <p class="subType">Подтип: ${subType}</p>

        <div class="commentBackground">
            <p class="comment">Комментарий: ${comment}</p>
        </div>

        <div class="content-applicant">
            <img src="/resourses/img/icon_user.png" alt="Аватар">
            <div class="applicant-info">
                <p class="applicant-name">Заявитель: ${applicant}</p>
                <p class="applicant-email">Email: ${email}</p>
                <p class="applicant-phone">Телефон: ${phone}</p>
            </div>
        </div>
    </div>
</body>
</html>