<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../applicant/test.css">
</head>
<body>
    <div class="cardCase">
        <div class="content-judje">
            <img src="/resourses/img/icon_user.png" alt="Аватар">
            <div class="judje-info">
                <p class="judje-name">${judjename}</p>
                <p class="judje-email">Email: ${judjeemail}</p>
                <p class="judje-phone">Телефон: ${judjephone}</p>
            </div>
        </div>
        <div class="btns">
            <button class="judje-edit">Редактировать</button>
            <button class="judje-delete">Удалить</button>
        </div>
    </div>
</body>
</html>