<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../applicant/test.css">
</head>
<body>
    <div class="content-card">
        <div class="left-content"></div>
        <div class="right-content">
            <div class="date-content">
                <img src="/resourses/img/time.png" alt="Дата">
                <p class="date">16 сентября 2026 г. в 12:00</p>
            </div>
            <p class="sub-type">Дело: </p>
            <p class="sub-type">Тип: </p>
            <div class="status-case">
                <p>Назначено</p>
            </div>
        </div>
    </div>
</body>
</html>